tmp/
*.log
.keys
cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
wheels/
.nicegui/
.data/
# Virtual environments
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/
.DS_Store
.idea/
.github/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.hypothesis/
.coverage
.mypy_cache
htmlcov/
output
run_on_tmux.sh

# Cache
.cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

